* {margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none;}

.translateBody {
    display: flex;
    justify-content: center;
}

.translateBg {
    width: 1440px;
    min-width: 1440px;
    position: relative;
}
.uploadBox {
    width: 1092px;
    margin: 126px 0 126px 48px;
}
.after {
    width: 100vw;
    height: 100vh;
    background: rgba(29, 29, 29, 0.75);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}
.after .uploadWindow {
    width: 1440px;
    height: 720px;
    background: #ECF5F5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.after .uploadWindow .uploadGuide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.after .uploadWindow .uploadGuide p {
    text-align: center;
    font-size: 36px;
    font-family: "Noto Sans KR";
    font-weight: 400;
    color: #6B7072;
}
.before {
    position: relative;
}
.before .playBox {
    width: 985px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.before .playBox p {
    font-size: 42px;
    font-family: "Noto Sans KR";
    color: #6B7072;
}
.before .uploadLayout {
    position: absolute;
    left: 0;
    top: 0;
}
.translateBg>div>div button {
    width: 200px;
    height: 64px;
    border: 2px solid #6B7072;
    border-radius: 40px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 2px 8px rgba(107, 112, 114, 0.5);
}
.no1, .no3, .no5 {
    margin: 96px 0 0;
    width: 1091px;
    height: 250px;
    /* margin: 96px auto; */
    position: relative;
    /* text-align: center; */
}
.no1 .no1Box, .no3 .no3Box, .no5 .no5Box {
    position: absolute;
    left: 300px;
    top: 0;
}
.no1 .no1Box p, .no3 .no3Box p, .no5 .no5Box p{
    font-size: 24px;
    font-family: "Noto Sans KR";
}
.no1 .fileSelect, .no3 .uploadButton {
    margin-top: 24px;
    background: #EDAE87;
}
.no2, .no4 {
    width: 300px;
    position: absolute;
    top: 240px;
    right: 0;
}
.no2 .no2Box p, .no4 .no4Box p {
    font-size: 24px;
}
.no4 .no4Box button {
    display: block;
    margin-top: 24px;
}
.no4 .no4Box button.en {background: #EDAE87;}
.no4 .no4Box button.cn {background: #F2D98E;}
.no4 .no4Box button.jp {background: #A5C2B5;}
.no4 .no4Box button.ru {background: #87C3ED;}
.no4 .no4Box button.sp {background: #CEA9FF;}

.translateBg button:hover {
    box-shadow: inset 1px 8px 1px rgba(107, 112, 114, 0.5);
    transition: all 5s ease-in-out;
}

.no5 .no5Box button {
    margin-top: 24px;
    margin-left: 24px;
}
.no5 .no5Box #txt {
    margin-left: 0;
    background: #EDAE87;
}
.no5 .no5Box #srt {background: #F2D98E;}
.no5 .no5Box #csv {background: #A5C2B5;}
.no6 {
    width: 350px;
    height: 560px;
    position: absolute;
    top: 230px;
    right: 12px;
}
.no6 .no6Box {
    margin: 16px 0 0 16px;
}
.no6 .no6Box ul {
    max-height: 540px;
    overflow: auto;
}
.no6 .no6Box ul li {
    margin-bottom: 28px;
}
.no6 .no6Box ul li .timeline {
    font-size: 20px;
}
.no6 .no6Box ul li .subtitle {
    font-size: 24px;
}
.no1, .no2, .no3, .no4, .no5, .no6 {
    display: none;
}

.translateBg .on {
    display: block;
}